<div class="container-premdio">
    <div class="title-prize" style="
        background: #f8f8f8;
        padding: 10px;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    ">
    <a href="https://pixie-puntos.herokuapp.com/" style="text-decoration: none;">
        <img src="https://res.cloudinary.com/dshkfooas/image/upload/v1601011061/favicon_pgfcpi.png" alt="">
        <span style="
            padding-left: 10px;
            {{!-- font-family: "Roboto", sans-serif; --}}
            font-size: 24px;
            line-height: 36px;
            color: #222222;
            font-weight: bold;
        ">PIXIE</span>
    </a>
    </div>
    <h2 style="
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    ">Detalles de Premio</h2>
    <p style="
        width: 90%;
        margin: 0 auto;
    ">
        Puedes acercarte a recoger tu premio en cualquiera de nuestras sedes a partir de las proximas 24 horas.
    </p>
    <div class="section" style="
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 3rem;
        padding-top: 20px;
    ">
        <div class="col-img">
            <div class="container-img" style="text-align: center;">
                <img class="" style="width: 50%;" src="{{url}}" alt="First slide">
            </div>
        </div>
        <div class="col-info" style="
                display: flex;
                flex-direction: column;
                justify-content: center;
            ">
            <div class="container-info">
                <h3 style="
                    font-size: 24px;
                    font-weight: 500;
                    color: #222222;
                    margin-bottom: 10px;
                ">{{nombre}}</h3>
                <h2 style="
                    font-size: 24px;
                    font-weight: bold;
                    color: #1641ff;
                    margin-bottom: 15px;
                ">{{points}} Puntos</h2>
                <ul class="list" style="
                    list-style: none;
                    margin: 0px;
                    padding: 12px 0px;
                ">
                    <li>
                        <a class="active" href="#" style="color: #1641ff; text-decoration: none;">
                            <span style="olor: #555;">Categoria</span> : {{category}}</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff; text-decoration: none;">
                            <span style="olor: #555;">Puntos</span> : {{points}}</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff; text-decoration: none;">
                            <span style="olor: #555;">Precio</span> : $ {{price}}</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff; text-decoration: none;">
                            <span style="olor: #555;">Descripción</span> : {{description}}</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff; text-decoration: none;">
                            <span style="olor: #555;">Empresa</span> : {{business}}</a>
                    </li>
                </ul>

                <div class="card_area">
                    <a class="main_btns" href="#" style="
                        text-decoration: none;
                        line-height: 38px;
                        padding: 0px 38px;
                        text-transform: uppercase;
                        margin-right: 10px;
                        display: inline-block;
                        background: #1641ff;
                        padding: 0px 30px;
                        color: #fff;

                        font-size: 14px;
                        font-weight: 500;
                        line-height: 48px;
                        border: 1px solid #1641ff;
                        border-radius: 0px;
                        outline: none !important;
                        box-shadow: none !important;
                        text-align: center;
                        border: 1px solid #1641ff;
                        cursor: pointer;
                        transition: all 300ms linear 0s;
                        border-radius: 5px;

                    ">Premio Canjeado</a>
                </div>
            </div>
        </div>
    </div>
    <table style="
        margin-top: 25px;
        margin-bottom: 0px;
        table-layout: auto;
        border-collapse: initial;
        font-size: var(--small-font-size);
        background-image: initial;
        background-position: initial;
        background-repeat: initial;
        min-width: 100%;
        color: rgb(105,116,119);
        text-align: center;
        font-family: arial;
        width: max-content;
        height: 90px;
        padding: 10px 16px;
        border: 1px solid rgb(239,243,245);
        border-radius: 4px;
    ">
        <tbody>
            <tr style="border: none;">
                <td style="
                    min-width: 100px;
                    padding: 0px 4px 0px 0px;
                    background: none;
                ">
                    <a href="https://pixie-puntos.herokuapp.com/login" target="_blank">
                        <img src="https://ci5.googleusercontent.com/proxy/OhFk3L9dCJYUpf7C2-T1Pl45ZNGkgbFCnODB7uK-W0DppB57tRiLOXQL8e_boBCP7usYoqrx8aQU7ej0BnrjTnsDj3pCCqXE0mlWuglNTFlrBaCrOz-VCFqe0ATJFmIgK6d-7GkM7EKiRs_5Ax8=s0-d-e1-ft#https://edteam-media.s3.amazonaws.com/users/avatar/c2ac819a-c6e4-4d5f-a681-8825d03dcd6d.png" alt="pixiepuntos" style="
                            max-width: 100%;
                            height: 85px;
                            display: block;
                            width: 85px;
                            border-radius: 50%;
                            margin-right: 8px;
                            float: left;
                        ">
                    </a>
                </td>
                <td style="
                    min-width: 100px;
                    padding: 0px 14px 0px 3px;
                    background: none;
                    text-align: left; 
                ">
                    <b style="
                        margin-bottom: 4px;
                        font-size: 20px;
                        color: rgb(42,59,71);
                        line-height: 24px;
                        height: 24px;
                        display: block;
                    ">PIXIE</b>
                    <p style="
                        margin: 0px 0px 8px;
                        font-size: 14px;
                    ">¡Pequeños puntos , grandes premios !</p>
                    <a href="https://www.facebook.com/pixiepoints/" target="_blank" style="
                        margin-right: 8px;
                        display: inline-block;
                    ">
                        <img src="https://ci3.googleusercontent.com/proxy/J7lFgCf_x5wbkwF85r9wFnovq1OsszRpwSO8Du-yXSxTHJg4UmBp-TTLHBy_fEegFd_zvcxiKLFiN2-NWqWL-Uey-cAz1ab2pnciY5fUdjY=s0-d-e1-ft#https://ed.team/static/images/utils/firma/social/facebook.png" alt="" style="
                            max-width: 100%;
                            height: auto;
                        ">
                    </a>
                    <a href="https://www.instagram.com/pixiepoints_oficial/" target="_blank" style="
                        margin-right: 8px;
                        display: inline-block;
                    ">
                        <img src="https://ci4.googleusercontent.com/proxy/dTnlMYm5fjUHYecyCLrBy1hn-cgm81dlPsNaiuLuLv94oKU81zJl8VFYIE0uPE4zHCzMH6RVaAOdt-8gjKM4p_AdQJ3241Wrnn2aUcS3x7ip=s0-d-e1-ft#https://ed.team/static/images/utils/firma/social/instagram.png" alt="" style="
                            max-width: 100%;
                            height: auto;
                        ">
                    </a>
                </td>
                <td style="
                    min-width: auto;
                    padding: 0px;
                ">
                    <div style="
                        width: 4px;
                        height: 85px;
                        border-radius: 50px;
                        margin-right: 0px;
                        background-color: rgb(17,146,238);
                        border: 2px solid rgb(17,146,238);
                    "></div>
                </td>
                <td style="
                    min-width: 100px;
                    padding: 10px 0px 7px 14px;
                    background: none;
                ">
                    <span style="
                        margin-bottom: 4px;
                        font-size: 14px;
                        line-height: 24px;
                        height: 24px;
                        display: block;
                        text-align: left;
                    ">
                        <img src="https://ci4.googleusercontent.com/proxy/qPgqqxI-nQWmX6wQx46l61x3lOplA6y4q-Vgywj501lQ7rC731sP4kcWLp6O39HxGEeRY3Ha6MOXPQ1uTaayCW0wxKUsNAfYMvK3ZWtZ4oDJ=s0-d-e1-ft#https://ed.team/static/images/utils/firma/theme/phone-blue.png" alt="" style="
                            max-width: 100%;
                            height: auto;
                            margin-top: 3px;
                            float: left;
                            margin-right: 7px;
                            border-radius: 50%;
                            display: block;
                        ">
                        926594773
                    </span>
                    <span style="
                        margin-bottom: 4px;
                        font-size: 14px;
                        line-height: 24px;
                        height: 24px;
                        display: block;
                        text-align: left;
                    ">
                        <img src="https://ci4.googleusercontent.com/proxy/Ve0tgTSpGmh-wMZKLfdYmF2vAi4bFY29E7KUojFVcSut1lLNleBXHZrByJfI1hd2UmtnU0E1qFjsWwiahtU1EKN0s0QMRMNKJqJMh47YwA=s0-d-e1-ft#https://ed.team/static/images/utils/firma/theme/pin-blue.png" alt="" style="
                            max-width: 100%;
                            height: auto;
                            margin-top: 3px;
                            float: left;
                            margin-right: 7px;
                            border-radius: 50%;
                            display: block;
                        ">
                        Lima, Perú
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 


